<mat-grid-list cols="3" rowHeight="33vh">
  <mat-grid-tile colspan="1" rowspan="3">
    <app-defect-list
      [defects]="defects"
      style="width: 80%"
    ></app-defect-list>
  </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="2">
    <app-defect-canvas
      [width]="panel.width"
      [height]="panel.height"
      [defects]="defects"
    ></app-defect-canvas>
  </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="1">
    <app-defect-controller></app-defect-controller>
  </mat-grid-tile>
</mat-grid-list>
