<div class="defect-container mat-elevation-z8">
  <table mat-table [dataSource]="defects" class="defect-table">
    <!-- index Column -->
    <ng-container matColumnDef="uuid">
      <th mat-header-cell *matHeaderCellDef>Index</th>
      <td mat-cell *matCellDef="let element">{{element.uuid}}</td>
    </ng-container>

    <!-- X Column -->
    <ng-container matColumnDef="x">
      <th mat-header-cell *matHeaderCellDef>X</th>
      <td mat-cell *matCellDef="let element">{{element.x}}</td>
    </ng-container>

    <!-- Y Column -->
    <ng-container matColumnDef="y">
      <th mat-header-cell *matHeaderCellDef>Y</th>
      <td mat-cell *matCellDef="let element">{{element.y}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr
        mat-row
        (click)="clickedRows.add(row)"
        [class.defect-row-is-clicked]="clickedRows.has(row)"
        *matRowDef="let row; columns: displayedColumns;"
    ></tr>
  </table>
</div>
